*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
}
/*---------------------------mobile---------------------------------*/
@media all and (max-width: 767px){
    #fbar{
        width: 100%;
        height: 1.5em;
        background-color: #e7e7e7;
    }
    #logobar{
        width: 100%;
        height: 4.5em;
        background-color: #111;
        text-align: center;
    }
    #logo{
        font-size: 200%;
        text-decoration: none;
        color: floralwhite;
    }
    #monotext{
        font-size: 70%;
        color:  floralwhite;
    }
    #login{
        font-size: 70%;
    }
    #login>input{
        height: 0.9em;
        width: 10%;
    }
    #login>button{
        height: 1.9em;
        font-size: 70%;
    }
}

/*---------------------------tab---------------------------------*/
@media all and (min-width: 767.1px) and (max-width: 1024px){
    #fbar{
        width: 100%;
        height: 1.5em;
        background-color: #e7e7e7;
    }
    #logobar{
        width: 100%;
        height: 5em;
        background-color: #111;
        text-align: center;
    }
    #logo{
        font-size: 250%;
        text-decoration: none;
        color: floralwhite;
    }
    #monotext{
        font-size: 75%;
        color:  floralwhite;
    }
    #login{
        font-size: 90%;
    }
    #login>input{
        width: 8em;
    }
}

/*----------------------------pc--------------------------------*/
@media all and (min-width: 1024.1px){
    #fbar{
        width: 100%;
        height: 1.5em;
        background-color: #e7e7e7;
        text-align-last: right;
    }
    #logobar{
        width: 100%;
        height: 5.8em;
        background-color: #111;
        text-align: center;
    }
    #logo{
        font-size: 300%;
        text-decoration: none;
        color: floralwhite;
    }
    #monotext{
        font-size: 86%;
        color:  floralwhite;
    }
    #login{
        font-size: 90%;
    }
    #login>input{
        width: 8em;
    }
}