*{
    padding: 0;
    margin: 0;
}
html{
    width: 100%;
/*    height: 2850px;*/
/*    overflow-x: hidden;*/
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.sec{
    width: 99.9%;
}
h1{
    font-size: 2em;
}
footer{
    padding-bottom: 1em;
    padding-top: 1em;    
    background-color: #eee;
}
footer>span{
    display: inline-block;
    margin-left: 10%;
}
footer>span>hr{
    border-color: black;
}
footer>address{
    margin-left: 17%;
}
/*--------------------sec1----------------------*/

#logotitle{
    display: inline-block;
    margin-top: 2em;
    margin-left: 15%;
}
#logotitle>h1{
    color: white;
}
#logotilte>hr{
    background-color: white;
}
#imglogo>img{
    position: absolute;
}
#imgcuca{
    width: 28%;
    margin-top: 15.5em;
    margin-left: 6%;
}
.fwin{
    display: inline-block;
}
#cuca{
    width: 40%;
    height: 51em;
    background-image: url(/img/back1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#belief{
    vertical-align: top;
    width: 57%;
}
#beliefbox{
    display: inline-block;
    margin-top: 1.5em;
    margin-left: 4%;
}
#beliefbox>hr{
    border-color: black;
}
.things{
    position: absolute;
}
.imgs>img{
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}
#imglogo1{
    width: 23%;
    height: 23em;
    margin-top: 3em;
    margin-left: 33%;
}
#using1{
    width: 29%;
    height: 23em;
    margin-top: 23em;
    margin-left: 1%;
}
.things>span{
    display: inline-block;
}
.things>span>hr{
    border-color: black;
}
#mind{
    width: 35%;
    margin-top: 2em;
    margin-left: 1%;
}
#purpose{
    width: 34%;
    margin-top: 18em;
    margin-left: 12%;
}
#case{
    width: 27%;
    margin-top: 33em;
    margin-left: 25%;
}
#purpose_in{
    list-style-type: upper-roman;
    list-style-position: inside;
}
#case_in{
    list-style-type: upper-roman;
    list-style-position: inside;
}

/*--------------------sec2----------------------*/

#sec2{
    background-color: #eee;
    padding-top: 1.5em;
    padding-bottom: 3em;
}
#headname{
    margin-left: 15%;
    display: inline-block;
}
#headname>hr{
    border-color: black;
}
.btns{
    z-index: 101;
    width: 2%;
    margin-top: 24em;
    position: absolute;
}
#leftbtn{
    margin-left: 18%;
}
#rightbtn{
    margin-left: 79%;
}
#leftbtnred{
    margin-left: 18%;
}
#rightbtnred{
    margin-left: 79%;
}
.btns>a>img{
    width: 100%;
}
#imgcal{
    position: relative;
    width: 500%;
    z-index: 100;
}
.cals{
    display: inline;
}
.cals>img{
    margin-left: 4.45%;
    margin-right: 4.45%;
    width: 11%;
    height: 600px;
}
#menu{
    width: 70%;
    height: 3.5em;
    margin: 2em 14.6% 0.3em 14.75%;
}
#menu>hr{
    border-color: black;
}
#topmenu{
    height: 3.5em;
    background-color: white;
}
#topmenu>li{
    width: 19%;
    height: 2.4em;
    padding-top: 1em;
    display: inline-block;
    text-align: center;
}
#topmenu>li>a{
    text-decoration: none;
    color: black;
    font-size: 120%;
}
.smallmenu{
    margin-top: 0.86em;
    width: 13%;
    position: absolute;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    opacity: 0.8;
    z-index: 101;
}
.smallmenu>li{
    padding-bottom: 0.5em;
    border-top: 1px solid #e3e3e3;
    list-style: none;
}
.smallmenu>li>a{
    color: black;
    text-decoration: none;
}
#dotm{
    margin-left: 46.5%;
    margin-right: 45%;
    margin-top: 1.5em;
}
.dots{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: silver;
    display: inline-block;
    margin-left: 3%;
}
#container{
    position: fixed;
    width: 80px;
    height: 110px;
    border: 2px solid black;
    border-radius: 5px;
    top: 40em;
    left: 90%;
    background-color: #efefef;
    text-align: center;
    z-index: 101;
}
#container>hr{
    border-color: black;
}
/*---------------------------mobile---------------------------------*/
@media all and (max-width: 767px){
}

/*---------------------------tab---------------------------------*/
@media all and (min-width: 767.1px) and (max-width: 1024px){
}

/*----------------------------pc--------------------------------*/
@media all and (min-width: 1024.1px){
}