#sec3{
    padding-bottom: 3em;
}
#big_title>hr{
    border-color: black;
}
.product_title>hr{
    border-color: black;
}
.product_li{
    display: inline-block;
    width: 32%;
    list-style: none;
    border: 1px solid silver;
}
.product_div{
    width: 100%;
}
.product_figure{
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.product_figure figcaption{
    position: absolute;
    display: block;
    box-sizing: border-box;
    text-align: center;
    background-color: darkred;
    padding: 5px;
    z-index: 100;
    width: 100%;
    font-size: 1.5em;
    max-height: 100%;
    overflow: hidden;
    top: 50%;
    left: 0;
    opacity: 0.0;
    transition: all 0.5s;
}
.product_figure figcaption a{
    text-decoration: none;
    color: white;
}
.product_figure a img{
    min-width: 30%;
    width: 100%;
    max-height: 400px;
    height:300px;
}
.tags{
    text-decoration: line-through;
}

/*mobile*/
@media screen and (max-width: 767px){
    #sec3{
        padding-bottom: 0.5em;
    }
    #big_title{
        display: inline-block;
        margin-top: 0.8em;
        margin-left: 2%;
    }
    .product_title{
        color: black;
        display: inline-block;
        margin-left: 4%;
        margin-top: 0.5em;
    }
    .product_section article{
        width: 100%;
        margin-top: 0.5em;
    }
    .product_section ul{
        width: 99%;
        margin-left: 2.5%;
    }
    .product_li{
        display: inline-block;
        width: 47%;
        margin-bottom: 2%;
        list-style: none;
    }
    .product_figure>a{
        text-decoration: none;
        color: black;
        font-size: 82%;
    }
    .product_div{
        width: 100%;
        text-align: center;
    }
    .product_div>a{
        text-decoration: none;   
        color: red;
        font-size: 100%;
    }
    .product_figure a img{
        min-width: 30%;
        width: 100%;
        max-height: 400px;
        height:250px;
    }
}

/*tap*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #big_title{
        display: inline-block;
        margin-top: 1em;
        margin-left: 4%;
    }
    .product_title{
        color: black;
        display: inline-block;
        margin-left: 7%;
        margin-top: 0.8em;
    }
    .product_section article{
        width: 100%;
        margin-top: 0.2em;
    }
    .product_figure>a{
        text-decoration: none;
        color: black;
        font-size: 90%;
    }
    .product_section ul{
        width: 81%;
        margin-left: 9%;
    }
    .product_div>a{
        text-decoration: none;
        color:black;
        font-size: 120%;
        margin-left: 31%;
    }
    .product_figure:hover +a{
        color: red;
    }
}

/*pc*/
@media screen and (min-width: 1025px){
    #big_title{
        display: inline-block;
        margin-top: 2em;
        margin-left: 15%;
    }
    .product_title{
        color: black;
        display: inline-block;
        margin-left: 17%;
        margin-top: 1.5em;
    }
    .product_section article{
        width: 100%;
        margin-top: 0.2em;
    }
    .product_figure>a{
        text-decoration: none;
        color: black;
    }
    .product_section ul{
        width: 65%;
        margin-left: 17%;
    }
    .product_figure:hover::before{
        transform: translate3d(0, 0, 0);
    }
    .product_div>a{
        display: none;
    }
    .product_div{
        position: relative;
        width: 100%;
    }
    .product_figure:hover figcaption{
        opacity: 0.8;
        transform: translate3d(0, -60%, 0);
        transition: all 1s;
        transition-delay: 0.5s;
    }
    .product_figure::before{ 
        content: '';
        width: 100%;
        height: 82%;
        display: block;
        background: white;
        position: absolute;
        opacity: 0.3;
        z-index: 100;
        transform: translate3d(0%, -100%, 0);
        transition: all 0.5s;
    }
    .product_figure:hover img{ 
        transform-style: preserve-3d;
        animation: product_caption 1.0s ease;
        animation-fill-mode: forwards;
    }    
}